<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icodehigh.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.movies.feed.MoviesFeedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.movies.detail.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".features.movies.feed.MoviesFeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.icodehigh.popularmovies.features.movies.feed.MoviesFeedActivity" />
        </activity>

        <!-- Our ContentProvider -->
        <provider
            android:name=".data.MoviesContentProvider"
            android:authorities="@string/content_authority"
            android:exported="false"/>


    </application>

</manifest>